-
    const defaultTabsProps = {
        classes: '',
        tabsList: [
            {
                name: 'Меркурий',
                yearFrom: '15329',
                yearTo: '4879',
                background: 'radial-gradient(#8c7853, #654321)' 
            },
            {
                name: 'Венера',
                yearFrom: '38025',
                yearTo: '12104',
                background: 'radial-gradient(#ffc649, #ff8c00)'
            },
            {
                name: 'Земля',
                yearFrom: '40075',
                yearTo: '12742',
                background: 'radial-gradient(#4a90e2, #1e6091)'
            },
            {
                name: 'Марс',
                yearFrom: '21297',
                yearTo: '12742',
                background: 'radial-gradient(#cd5c5c, #8b4513)'
            },
            {
                name: 'Юпитер',
                yearFrom: '439420',
                yearTo: '139820',
                background: 'radial-gradient(#d8ca9d, #f4a261)'
            },
            {
                name: 'Сатурн',
                yearFrom: '	365882',
                yearTo: '116460',
                background: 'radial-gradient(#f9d71c, #daa520)'
            },
            {
                name: 'Уран',
                yearFrom: '159354',
                yearTo: '50724',
                background: 'radial-gradient(#87cefa, #4a9fd8)'
            },
            {
                name: 'Нептун',
                yearFrom: '154706',
                yearTo: '49244',
                background: 'radial-gradient(#4169e1, #000080)'
            }
        ]
    }

mixin tabs-block(props= defaultTabsProps)
    -
        const checkProps = {
            classes: props.classes ? props.classes : defaultTabsProps.classes,
            tabsList: props.tabsList ? props.tabsList : defaultTabsProps.tabsList
        }

    .tabs-block(class=checkProps.classes data-js="tabsBlock")&attributes(attributes)
        .tabs-block__tabs
            .tabs-block__period
                .tabs-block__year.tabs-block__year--from(data-js="tabsBlockFrom")
                .tabs-block__year.tabs-block__year--to(data-js="tabsBlockTo")
            .tabs-block__list(data-js="tabsBlockList")
                .swiper-wrapper
                    - let tabsCount = 0
                    - let tabsList = checkProps.tabsList
                    - while(tabsCount < tabsList.length)
                        - let tab = tabsList[tabsCount]
                            .swiper-slide.tabs-block__tab(data-from=tab.yearFrom data-to=tab.yearTo data-js="tabsBlockTab")
                                .tabs-block__num(style=`background:${tab.background}`)!= tabsCount + 1
                                - if(tab.name.length > 0)
                                    .tabs-block__name!= tab.name

                        - tabsCount++

        .tabs-block__controls
            .tabs-block__fraction(data-js="tabsBlockFraction")
            .tabs-block__arrows
                .tabs-block__control(data-js="tabsBlockPrev")
                    svg
                        use(xlink:href=`./sprite.svg#slider_arrow_left`)

                .tabs-block__control(data-js="tabsBlockNext")
                    svg
                        use(xlink:href=`./sprite.svg#slider_arrow_right`)

        .tabs-block__slides(data-js="tabsBlockSlides")
            .swiper-wrapper
                block